/* いいね押下時の星の色 */
.liked {
    color: orangered;
    transition: all 0.3s ease;
}
.flexbox {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.count-num {
    font-size: 1.25rem; /* 20px */
    margin-left: 0.625rem; /* 10px */
}
.fa-star {
    font-size: 1.875rem; /* 30px */
}
.styled-image {
    border-radius: 12px; /* 角を丸くする */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* アニメーション */
}

.styled-image:hover {
    transform: scale(1.05); /* ホバー時に拡大 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 影を追加 */
}
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); /* カードのホバー時にスケールを増加 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}
.modal {
  display: flex; /* Flexboxで中央揃え */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%; /* 最大幅 */
    max-width: 400px;
}

.close {
  cursor: pointer;
  float: right;
}
#dialog {
    display: none; /* デフォルトで非表示 */
}
/* スマホサイズ (最大幅 640px) */
@media (max-width: 640px) {
  #swipe-content {
    width: 100%;
  }
}

/* タブレットサイズ (641px 〜 768px) */
@media (min-width: 641px) and (max-width: 768px) {
  #swipe-content {
    width: 75%;
  }
}

/* 小型デスクトップ (769px 〜 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  #swipe-content {
    width: 60%;
  }
}

/* 大型デスクトップ (1025px以上) */
@media (min-width: 1025px) {
  #swipe-content {
    width: 50%;
  }
}

